@media screen and (max-width: 1200px)
	.section
		margin-left: auto
		margin-right: auto
	.aside
		display: none
	.button-full-width
		display: block
@media screen and (max-width: 992px)
	.footer
		a
			opacity: 1
	.footer__links, .footer__sn
		float: none
		text-align: center
	.footer__links
		margin-bottom: 10px
		li
			display: block
			margin-right: 0
@media screen and (max-width: 960px)
	.popup
		width: 90%
@media screen and (max-width: 850px)
	.popup
		width: 95%
		&__close
			top: 10px
			right: 10px
	body
		padding-top: 20px
	.header
		&__img
			&-1
				left: -25px
				width: 220px
			&-2
				right: -33px
				width: 250px

	.block, .button-full-width
		margin-bottom: 30px
@media screen and (max-width: 805px)
	.section, .block, .reviews__wrapper
		width: 100%
		max-width: 720px

	.header
		height: 335px
		&__title
			margin-bottom: 20px
		&__imgs
			display: none

	.plan
		padding-top: 20px
		&__title
			margin-bottom: 10px
			padding-left: 5px
			padding-right: 5px
		.col
			width: 100%
		&__list
			padding-bottom: 10px
		&__item
			padding: 15px
		&__day
			&:before
				display: none
		&__subtitle
			margin-bottom: 10px
		&__data
			margin-left: -6px
			br
				display: none
			img
				display: block
				max-width: 100%

	.reviews
		&__wrapper
			background: none
			margin-left: 0
			margin-right: 0
		iframe
			display: block
			margin-left: auto !important
			margin-right: auto !important
			margin-top: 0
			width: 100%
	.quote
		background-position-y: -20px
		&__title
			padding-left: 35px
			padding-right: 35px
			margin-top: 20px
			br
				display: none
			&:before
				left: 10px
			&:after
				right: 10px
@media screen and (max-width: 768px)
	.popup
		padding: 30px 20px
		.col
			width: 100%
			text-align: center
		&__title
			width: 100%
			font-size: 24px
		&__img
			margin-top: 20px
			img
				display: block
				margin-left: auto
				margin-right: auto
				max-width: 100%
				left: 0
		&__right
			padding-top: 20px
	.input, .button
		width: 100%
		max-width: 270px

	.button-full-width
		max-width: 100%
@media screen and (max-width: 740px)
	.electronics
		width: 100%
		&__iphone
			display: none
			p
				// display: none
		&__mac
			position: relative
			// margin-left: 100px
			padding-left: 20px
			padding-right: 20px
			img
				max-width: 100%
			p
				display: none
	.format
		&__icons
			width: 100%
		&__icon
			margin-left: 0 !important
			width: 50% !important
			margin-right: 0 !important

	.elizabeth, .katharine
		height: auto
		padding: 10px 20px 20px
		&__title
			text-align: center
	.elizabeth
		padding-bottom: 370px
		background: none
		&:before
			width: 200px
			height: 348px
			background-size: 100%
			background-repeat: no-repeat
			left: calc(50% - 100px)
	.katharine
		padding-bottom: 300px
		background: none
		color: black
		position: relative
		&:before
			display: block
			position: absolute
			content: ''
			background: url('../../upload/katharine.png')
			width: 261px
			height: 304px
			bottom: 0
			left: calc(50% - 137px)
	.faq
		&__title
			padding-left: 10px
			padding-right: 10px
			margin-top: 20px
			margin-bottom: 10px
		&__list
		&__item
			padding-left: 20px
			padding-right: 20px
		&__question
			font-size: 20px
			span
				width: 90%
	.footer
		margin-top: 20px
@media screen and (max-width: 680px)
	.title
		font-size: 26px
	.result
		height: auto
		font-size: 20px
		padding: 20px
		line-height: normal
@media screen and (max-width: 620px)
	.quote
		background-image: none
		height: auto
		background-color: white
		padding-bottom: 20px
		&__title
			margin-bottom: 20px
			font-size: 20px
			line-height: normal
			&:before, &:after
				top: calc(50% - 25px)

@media screen and (max-width: 580px)
	.header
		height: auto
		padding-bottom: 20px
		padding-left: 10px
		padding-right: 10px
		background-position-y: -20px
		background-color: white
		&__title
			width: 100%
			height: auto
			background: none
			color: black
		&__text
			span
				display: inline
				font-family: MuseoSans
				font-size: inherit
				font-weight: 300
				margin-bottom: 0
	.reviews
		margin-top: 40px
		&__title
			margin-bottom: 10px
		&__wrapper
			height: auto
			margin-bottom: 40px
		iframe
			height: 300px
@media screen and (max-width: 505px)
	.header
		background-position-y: 35px
		&__title
			padding-left: 3px
			padding-right: 3px

@media screen and (max-width: 465px)
	.format
		&__icon
			width: 100% !important
			&:nth-of-type(1)
				margin-bottom: 30px
	.reviews
		iframe
			height: 200px